In [10]:
import argparse
from enum import Enum
import io
import os
from google.cloud import vision
from google.cloud.vision import types
from PIL import Image, ImageDraw
import numpy as np
import pandas as pd
import math

In [120]:
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = r'ServiceAccountToken.json'
client = vision.ImageAnnotatorClient()

bounds = []

with io.open(os.path.join(r'D:\SiH-Frame-Project\MyVisionDemo\Images','TOIDEL-2018-01-02-4-C.png'), 'rb') as image_file:
    content = image_file.read()

image = types.Image(content=content)

response = client.document_text_detection(image=image)
document = response.full_text_annotation

In [121]:
frame = pd.DataFrame(columns=['x1','y1','x2','y2','x3','y3','x4','y4','area','text'])

In [122]:
x1=0
x2=0
x3=0
x4=0
y1=0
y2=0
y3=0
y4=0
text=''
for page in document.pages:
        for block in page.blocks:
            for paragraph in block.paragraphs:
                x1=paragraph.words[0].symbols[0].bounding_box.vertices[0].x
                x2=paragraph.words[0].symbols[0].bounding_box.vertices[1].x
                x3=paragraph.words[0].symbols[0].bounding_box.vertices[2].x
                x4=paragraph.words[0].symbols[0].bounding_box.vertices[3].x
                y1=paragraph.words[0].symbols[0].bounding_box.vertices[0].y
                y2=paragraph.words[0].symbols[0].bounding_box.vertices[1].y
                y3=paragraph.words[0].symbols[0].bounding_box.vertices[2].y
                y4=paragraph.words[0].symbols[0].bounding_box.vertices[3].y
                area=math.sqrt((x2-x1)**2+(y2-y1)**2)*math.sqrt((x3-x2)**2+(y3-y2)**2)
                for word in paragraph.words:
                    for symbol in word.symbols:
                        text+=text.join(symbol.text)
                    text+=text.join(' ')
                frame=frame.append(dict(x1=x1,
                                  x2=x2,
                                  x3=x3,
                                  x4=x4,
                                  y1=y1,
                                  y2=y2,
                                  y3=y3,
                                  y4=y4,
                                  area=area,
                                  text = text),ignore_index=True)
                text=''

In [125]:
frame = frame.sort_values(['area'],ascending=False)

In [133]:
frame.iloc[:10]

,x1,y1,x2,y2,x3,y3,x4,y4,area,text
4,61,101,101,101,101,196,61,196,3800.000000,Cops fret as more students in drug web
5,1265,204,1296,204,1296,268,1265,268,1984.000000,High - quality heroine worth 315cr seized
52,67,865,94,865,94,929,67,929,1728.000000,"Kids as young as 12 yrs trying drugs , say exp..."
114,62,2162,89,2162,89,2209,62,2209,1269.000000,BUSINESS BUSINESS
110,358,1890,374,1890,374,1948,358,1948,928.000000,| 7 Golf Club monuments to sport a fresh look
68,699,1263,718,1263,718,1309,699,1309,874.000000,"Tihar off s , inmates rattled over affair in R..."
66,56,1196,73,1196,73,1247,56,1247,867.000000,22 - year - old held for N corp plans 2 myster...
69,1437,1196,1449,1196,1449,1247,1437,1247,612.000000,Lawyer held
3,73,206,88,206,88,244,73,244,570.000000,Psychotropic Drugs like LSD Make A Return To C...
127,224,2332,240,2331,241,2360,225,2361,465.181685,MACHES Drilling Tapping Machine For CP Fitting...